# 関数の連結

In [1]:
import pandas as pd

In [2]:
# サンプルデータ
data = dict(x=range(1, 101), y=range(201, 301), z=range(101, 201))
temp1 = pd.DataFrame(data=data, index=range(1, 101))
print(temp1)

       x    y    z
1      1  201  101
2      2  202  102
3      3  203  103
4      4  204  104
5      5  205  105
6      6  206  106
7      7  207  107
8      8  208  108
9      9  209  109
10    10  210  110
11    11  211  111
12    12  212  112
13    13  213  113
14    14  214  114
15    15  215  115
16    16  216  116
17    17  217  117
18    18  218  118
19    19  219  119
20    20  220  120
21    21  221  121
22    22  222  122
23    23  223  123
24    24  224  124
25    25  225  125
26    26  226  126
27    27  227  127
28    28  228  128
29    29  229  129
30    30  230  130
..   ...  ...  ...
71    71  271  171
72    72  272  172
73    73  273  173
74    74  274  174
75    75  275  175
76    76  276  176
77    77  277  177
78    78  278  178
79    79  279  179
80    80  280  180
81    81  281  181
82    82  282  182
83    83  283  183
84    84  284  184
85    85  285  185
86    86  286  186
87    87  287  187
88    88  288  188
89    89  289  189
90    90  290  190
91    91  291  191
92    92  292  192
93    93  293  193
94    94  294  194
95    95  295  195
96    96  296  196
97    97  297  197
98    98  298  198
99    99  299  199
100  100  300  200

[100 rows x 3 columns]

In [3]:
sub1 = temp1[temp1['x'] > 40]
sub1

       x    y    z
41    41  241  141
42    42  242  142
43    43  243  143
44    44  244  144
45    45  245  145
46    46  246  146
47    47  247  147
48    48  248  148
49    49  249  149
50    50  250  150
51    51  251  151
52    52  252  152
53    53  253  153
54    54  254  154
55    55  255  155
56    56  256  156
57    57  257  157
58    58  258  158
59    59  259  159
60    60  260  160
61    61  261  161
62    62  262  162
63    63  263  163
64    64  264  164
65    65  265  165
66    66  266  166
67    67  267  167
68    68  268  168
69    69  269  169
70    70  270  170
71    71  271  171
72    72  272  172
73    73  273  173
74    74  274  174
75    75  275  175
76    76  276  176
77    77  277  177
78    78  278  178
79    79  279  179
80    80  280  180
81    81  281  181
82    82  282  182
83    83  283  183
84    84  284  184
85    85  285  185
86    86  286  186
87    87  287  187
88    88  288  188
89    89  289  189
90    90  290  190
91    91  291  191
92    92  292  192
93    93  293  193
94    94  294  194
95    95  295  195
96    96  296  196
97    97  297  197
98    98  298  198
99    99  299  199
100  100  300  200

In [4]:
# x > 50のyの平均(y_mean)とzの中央値(z_median)のデータを作る
sub = temp1[temp1['x'] > 50]
y_mean = sub.y.mean()
z_median = sub.z.median()

#dat1 <- data.frame(y_mean = y_mean, z_median = z_median)
dat1 = pd.DataFrame(data={'y_mean':[y_mean], 'z_median':[z_median]})
dat1

   y_mean  z_median
0   275.5     175.5

In [5]:
# 使用の例
dat2 = pd.DataFrame(data={'y_mean':[temp1.query('x > 50').y.mean()], 'z_median':[temp1.query('x > 50').z.median()]})
dat2

   y_mean  z_median
0   275.5     175.5